* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Montserrat Alternates", sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

.sidebar {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: min-content;
    background-color: #3E3B38;
    color: white;
}

.avatar {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.person-description__name {
    white-space: nowrap;
}

.person-description__profession {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 200;
}

.contacts__items-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style-type: none;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 8px;
}

.contacts__icon {
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

.contacts__value {
    font-size: 24px;
    font-weight: 200;
    color: white;
}

.main-container {
    background-color: white;
    color: black;
}

header {

}

main {

}

footer {

}